extends layout

block content
  .ui.aligned.center.aligned.grid
    .wide.middle.column
      .column
        i.address.card.outline.massive.icon
        p Op deze pagina kunt u zien welke informatie we over u bijhouden.
        p Gebruikersnaam: #{user.name} 
        p Naam: #{user.username}
        p Email adress: #{user.email}
  .spacing
  
